.topnav{

}

#navigation {
}

#account{
    position: relative;
}
.dropdown {
    position: relative;
    z-index: 1000;
}
/*#p-nav {
    background-color: white;
}*/
@media only screen and (min-width : 992px) {
    .navbar-brand{
        text-align: center;
    }
    .brand {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        
    }
}