#portals{
    background-image: url('https://image.freepik.com/free-vector/gold-stars-beautifully-arranged-white-background_41084-367.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:90%;
}

.p-img {
    height: 35vh;
    object-fit: cover;
    filter: brightness(70%);
}

.portal {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    opacity: 0.8;
}

.portal:hover {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .carousel-inner > .carousel-item > img {
        height: 75vh;
    }
}