#portals{
    background-image: url('https://image.freepik.com/free-vector/gold-stars-beautifully-arranged-white-background_41084-367.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:90%;
}

.p-img {
    height: 35vh;
    object-fit: cover;
    filter: brightness(70%);
}