.head-hero{
    position: relative;
}

#res-hero{
    object-fit: cover;
}

.right{
    float: right;
    align-items: top;
    display: flex;
    justify-content: space-between;
    flex-grow: 3;
}

.res-header{
    vertical-align: top;
}

.title{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    text-align: center;
}

.reserve{
    padding: 4px 4px 4px 4px;
    display: grid;
    align-items: center;
    font-size: 1.2rem;
}

.group-reserve{
    background-color: gold;
}
.group-reserve:hover{
    background-color: goldenrod;
}

#reservations{
    height: 160px;
    overflow-y: scroll;
}

/*#reservation-card{}*/