body{
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.carousello{
    position: relative;
}
.img_carousel {
    margin-top:8vh;
    /*
    */
    overflow-y: none !important;
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    overflow-x: auto;
}

.img_carousel  > div > img {
    height: 300px;
    border-radius: 30px 30px 30px 30px;
}

.anav > .container > .row > .nav-item {
    float: left;
    color: #F4F4F7;
    text-align: center
}
.anav > .container > .row > .nav-item > a, .nav-item > a:hover {
    color: inherit;
}

.nav.anav {
    position: relative; width: 100%; background-color: #1F6FB3; color: white;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
}

 .anav .container > .row > li > a {
    display: inline-block;
    position: relative;
    padding: 15px 0;
    margin-bottom: 0;
    cursor: pointer;
}

.anav .container > .row > li {
    display: table-cell;
    position: relative;
    user-select: none;
}
.col > a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.25s ease 0s, left 0.25s ease 0s;
    width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

.text-pic {
    display: none;
    position: relative;
    margin: 0 auto;
    float: left;
    margin-left: 20%;

    /* bring your own prefixes */

    
    /* bring your own prefixes */

}

.pic {
    float: left;
    margin-right: 10px;
    clear:both;
    margin-right: 100px;
}
.bio {
    margin-left: 0px;
    overflow:auto;
    display:block;
}

.active > a:after {
    width: 100%;
    left: 0%;
}

.ride-info{
    position: relative;
}

.pic {
    object-fit: cover;
    width: 100%;
    height: 300px !important;
}

@media only screen and (max-width: 1400px) {}

@media only screen and (max-width: 1150px) {
    .text-pic > .container > .row  {
        display: grid;
        grid-template-columns: auto;
 
        margin: 0 auto;
    }

    .text-pic {
        float:left;
        margin-left: 0%; 
    }
}

@media only screen and (max-width: 900px) {
    .anav {
        font-size: 0.8em;
    }
}

 
/*<div id = "train" class = "text-pic">
<div class="container">
  <div class="row">
    <div class="col">
      <img class = "img-fluid rollerpic pic" src = "chickens-r-us.jpg">
    </div>
    <div class="col">
      <p class = "rollerbio bio"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare nunc feugiat, dictum felis at, volutpat diam. Ut non nisi lacus. Vivamus ac auctor felis, quis vestibulum massa. Maecenas et mauris vulputate, sollicitudin ante sit amet, blandit sapien. Morbi rutrum semper sem et pulvinar. Duis non eros ac velit faucibus fermentum. Etiam molestie, quam sit amet convallis rutrum, velit dui rhoncus odio, non elementum ex tellus eget leo. Aenean sit amet imperdiet metus, sed tristique turpis. Fusce lectus nisl, tempus vitae leo sit amet, porttitor porttitor nulla. Curabitur vehicula, ante eget iaculis placerat, lectus elit varius quam, ac faucibus dolor ipsum consectetur diam. Integer auctor lacinia nunc in efficitur. Mauris nisi nunc, pharetra eu maximus et, mattis consectetur nisi.</p>
    </div>
  </div>
</div>  
</div>
*/