body{
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.img_carousel {
    position: relative;
    top: 80px;
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto auto auto auto auto auto;

    grid-gap: 50px;
    padding: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    overflow-y: auto;
}

div > img {
    height: 300px;
    border-radius: 30px 30px 30px 30px;
}

.anav > .container > .row > .nav-item {
    float: left;
    color: #F4F4F7;
    text-align: center
}
.anav > .container > .row > .nav-item > a, .nav-item > a:hover {
    color: inherit;
}

.nav.anav {
    position: relative; top: 100px; width: 100%; background-color: #1F6FB3; color: white;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
}

.anav .container > .row > li > a, .anav .container > .row > li { 
    display: table-cell;
    position: relative;
    padding: 15px 0;
    margin-bottom: 0;
}
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.25s ease 0s, left 0.25s ease 0s;
    width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

.text-pic {
    display: none;
    position: relative;
    top: 200px;
    margin: 0 auto;
    /* bring your own prefixes */

    
    /* bring your own prefixes */

}

.pic {
    float: left;
    margin-right: 10px;
    clear:both;
    margin-right: 100px;
}
.bio {
    margin-left: 0px;
    overflow:auto;
    display:block;
}

.active > a:after {
    width: 100%;
    left: 0%;
}