body{
    max-width: 100%;
}

.img_carousel {
    position: relative;
    top: 80px;
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto auto auto auto auto auto;

    grid-gap: 50px;
    padding: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    overflow-y: auto;
}

div > img {
    height: 300px;
    border-radius: 30px 30px 30px 30px;
}

.nav-item {
    float: left;
    color: white;
}
.nav-item > a, .nav-item > a:hover {
    color: inherit;
}

.nav {
    position: relative; top: 100px; width: 100%; background-color: grey; color: white;
    justify-content: space-evenly;
}

li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
}
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 

}

.text-pic {
    display: none;
    position: relative;
    top: 200px;
    margin: 0 auto;
    left: 20%;
    /* bring your own prefixes */

    
    /* bring your own prefixes */

}

.pic {
    float: left;
    margin-right: 10px;
    clear:both;
    margin-right: 100px;
}
.bio {
    margin-left: 0px;
    overflow:auto;
    display:block;
    width: 25%
}

.active {
    background-color: black;
}